@using MarketApplication.Models;
@{
    List<MagazaKategori> mKategoriler = (List<MagazaKategori>)ViewBag.Kategoriler;
}

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tüm Kategoriler</span>
                    </div>
                    <ul>
                        @foreach (var item in mKategoriler)
                        {

                            <li><a href="/Magaza/Index/@item.MagazaKategoriId">@item.Ad</a></li>
                        }

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <input type="text" placeholder="Neye ihtiyacınız var?">
                            <button type="submit" class="site-btn">ARA</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+90 535 755 55 55</h5>
                            <span>7/24 Destek</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="/assets/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>Taze Yiyecekler</span>
                        <h2>100% Organik <br />Sebzeler</h2>
                        <p>
                            Ücretsiz Teslim Alma ve Teslimat Mevcuttur
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
